@model IEnumerable<TeacherPackage>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="@item.PackagePhoto" class="card-img-top" alt="@item.PackageName">
                <div class="card-body">
                    <h5 class="card-title">@item.PackageName</h5>
                    <p class="card-text">
                        <span class="badge badge-primary text-black">Price: $@item.PackagePrice</span>
                    </p>
                    <p class="card-text">Number of Lessons: @item.NumberOfLessons</p>
                </div>
            </div>
        </div>
    }
</div>
